<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/loginStyle.css" type="text/css">
</head>
<body>
<div class="center">
    <h1>Login</h1>
    <form method="post" th:action="@{/login}" id="loginForm">
        <div class="txt_field">
            <input type="text" required name="username">
            <span></span>
            <label>Логин</label>
        </div>
        <div class="txt_field">
            <input type="password" required name="password">
            <span></span>
            <label>Пароль</label>
        </div>
        <div th:if="${param.error != null}" class="error">Неправильное имя пользователя или пароль</div>
        <div class="pass"><a th:href="@{/recovery}">Забыли пароль?</a></div>
        <input type="submit" value="Авторизация">
        <div class="signup_link">
            Новенький? <a th:href="@{/register}">Присоединяйся</a>
        </div>
    </form>
</div>
</body>
</html>