<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Авторизация</h1>
    <div th:if="${error}">
        Unable to login. Check your username and password.
    </div>

    <p>Новеньки? Кликни
        <a th:href="@{/register}">здесь</a> для регистрации.</p>

    <!-- tag::thAction[] -->
    <form method="POST" th:action="@{/login}" id="loginForm">
        <!-- end::thAction[] -->
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" /><br/>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" /><br/>

        <input type="submit" value="Login"/>
    </form>
</body>
</html>