<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Все викторины</title>
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/allQuizStyle.css">
</head>
<body>
<div class="quiz-container">
    <h2 class="quiz-title">Все викторины</h2>
    <div class="quiz-list">
        <div class="quiz-box" th:each="oneQuiz, statQuiz :${allQuiz}">
            <h3 th:text="${oneQuiz.getNameQuiz()}">Викторина 1</h3>
            <img src="/images/imageMain.png" class="image_quiz">
            <button class="play-button"><a th:href="@{/game/{id}/start(id=${oneQuiz.idQuiz})}">Играть</a></button>
        </div>
    </div>
</div>
</body>
</html>