<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Результат викторины</title>
    <link rel="stylesheet" type="text/css" href="/css/scoreStyle.css">
</head>
<body>
<form th:method="post" th:action="@{/game/scoreGame}" class="quiz-container">
    <h1>Результаты викторины</h1>
    <p th:if="${points == 0 || points > 5}">Вы набрали: <span class="score-value" th:text="${points.toString()}">5</span> баллов.</p>
    <p th:if="${points > 1 && points < 5}">Вы набрали: <span class="score-value" th:text="${points.toString()}">2</span> балла.</p>
    <p th:if="${points == 1}">Вы набрали: <span class="score-value" th:text="${points.toString()}">1</span> балл.</p>
    <button name="saveScoreUser" class="btn-finish" th:value="*{points}">Завершить</button>
</form>
</body>
</html>