<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${questionsList.getQuiz().getNameQuiz()}"></title>
    <link rel="stylesheet" href="/css/startGame.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" type="text/css"/>
</head>
<body>
<form method="post" th:action="@{/game/{id}/start(id=${questionsList.getQuiz().getIdQuiz()})}" th:object="${questionsList}" class="main_form">
    <div class="quiz_box">
        <header>
            <div class="title" th:text="${questionsList.getQuiz().getNameQuiz()}"></div>
            <div class="timer">
                <div class="time_left_txt">Время: </div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
                <span th:text="*{description}">What does HTML stand for?</span>
                <input type="image" th:if="*{image_questions != null}" th:src="'data:image/jpeg;base64,'+ *{getPhotoBase64()}" class="question_image" >
            </div>
            <div class="option_list" th:each="answer,statAnswer:*{answers}">
                <div class="option">
                    <input type="checkbox" th:text="*{answers[__${statAnswer.index}__].description}" th:value="${answer.getAnswerId()}" th:field="${answerUser.checkedItems}"/>
                </div>
            </div>
        </section>
        <!-- footer of Quiz Box -->
        <footer>
            <div class="total_que">
                <span><p th:text="${answerUser.couter}">1</p>из<p th:text="${questionsList.getAnswers().size()}">5</p></span>
            </div>
            <button type="submit" class="next_btn" name="nextQuestion">Следующий вопрос</button>
        </footer>
        <script src="/js/startGame.js"></script>
    </div>
    <input type="hidden" th:field="*{quiz.idQuiz}">
    <input type="hidden" th:field="${answerUser.couter}">
    <input type="hidden" th:field="${answerUser.point}">
</form>
</div>
</body>
</html>