@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #007bff;
}
.quiz-container {
    text-align: center;
    margin-top: 50px;
}

/* Стили для надписи "Все викторины" */
.quiz-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

/* Стили для контейнера списка викторин */
.quiz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Стили для отдельного box с викториной */
.quiz-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 150px;
    height: 200px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Стили для кнопки "Играть" */
.play-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    height: 40px;
    margin: 2px;
    font-size: 16px;
    font-weight: 200;
    width: 150px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 1;
    transform: scale(0.95);
    transition: all 0.3s ease;
    text-align: center;
}

.quiz-box .image_quiz{
    margin: 5px;
    width: 100px;
    position: initial;
    inset: 0;
    top: -2.5rem;
    transition: transform .4s;
}
.play-button a{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px) {
    .quiz-list {
        justify-content: center;
    }
    .quiz-box {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .quiz-list {
        justify-content: center;
    }
    .quiz-box {
        width: 90%;
    }
}

@media (max-width: 1980px) {
    .quiz-list {
        justify-content: center;
    }
    .quiz-box {
        width: 20%;
    }
}