<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz list</title>
</head>
<body>
  <h3>Answer this question:</h3>
  <form method="POST" th:object="${quizLists}">
    <div class="grid">
        <div class="name_quiz">
            <h1 th:text="${quizLists.getNameQuiz()}"></h1>
            <div class="question_quiz" th:each="oneQuestion :${quizLists.getQuestionList()}">
                <h3 th:text="${oneQuestion.getDescriptionQuestion()}"></h3>
                <div class="answer_quest" th:each="oneAnswer: ${oneQuestion.getAnswers()}">
                    <input type="checkbox" th:field="*{answerUser}" th:value="${oneAnswer.getValue().getId()}" >
                    <span th:text="${oneAnswer.getValue().getDescription()}"/><br>
                </div>
            </div>
        </div>
    </div>
      <input type="submit" th:value="Результаты">
  </form>
</body>
</html>