<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:method="post" th:object="${editQuiz}" action="#" th:action="@{/quiz/{id}/edit(id=${editQuiz.getIdQuiz()})}">
        <label for="nameQuiz" th:text="'Название викторины:'"/>
        <input type="text" id="nameQuiz" th:field="*{nameQuiz}"/>
        <table>
            <tbody th:each="questions, statQuestions : *{questions}">
            <tr>
                <td th:text="${'Номер вопроса: ' + statQuestions.count + ' '}"></td>
            </tr>
            <tr>
                <td>
                    <label>Вопрос:</label>
                    <input type="text" th:field="*{questions[__${statQuestions.index}__].description}">
                </td>
            </tr>
            <tr th:each="answer, answerStat :*{questions[__${statQuestions.index}__].answers}">
                <td>
                    <label th:text="${'Ответ номер ' + answerStat.count + ': '}" th:field="*{questions[__${statQuestions.index}__].answers[__${answerStat.index}__].answerId}"></label>
                    <input type="text" th:field="*{questions[__${statQuestions.index}__].answers[__${answerStat.index}__].description}">
                </td>
            </tr>
            <tr>
                <td>
                    <button name="addNewAnswer" type="submit" th:value="${statQuestions.index}">Добавить ответ</button>
                </td>
            </tr>
            </tbody>
            <button name="addNewQuestions" type="submit">Добавить вопрос</button>
        </table>
        <button name="saveEditQuestions" type="submit">Сохранить изменения</button>
        <input type="hidden"  th:field="*{idQuiz}">
        <input type="hidden" th:field="*{questions}">
    </form>
</body>
</html>