<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/homeStyle.css" type="text/css">
    <title>Домашняя страница</title>
</head>
<body>
<nav>
    <div class="nav-content">
        <div class="logo">
            <a>QuizSpace.</a>
        </div>
        <div class="action" th:if="${loginUser != 'anonymousUser'}">
            <div class="profile" onclick="menuToggle();">
                <img th:if="${idUser.getPhotoBase64() == null}" src="/images/user.png">
                <img th:if="${idUser.getPhotoBase64() != null}" th:src="'data:image/jpeg;base64,' + ${idUser.getPhotoBase64()}">
            </div>
            <div class="menu">
                <h3>Личный кабинет<br>пользователя</h3>
                <ul>
                    <li><img src="/images/user.png"><a th:href="@{/profile/{id}(id=${idUser.getIduser()})}">Профиль</a></li>
                    <li><img src="/images/editUser.png"><a th:href="@{/profile/{id}/quiz(id=${idUser.getIduser()})}">Викторины</a></li>
                    <li><img src="/images/leaveUser.png"><a href="/logout_user">Выйти</a></li>
                </ul>
            </div>
        </div>
        <ul class="nav-links">
            <li><a th:href="@{/login}">Авторизация</a></li>
            <li><a th:href="@{/register}">Регистрация</a></li>
            <li><a th:href="@{/game}">Викторины</a></li>
            <li><a th:href="@{/quiz/new}">Создать свою викторину</a></li>
        </ul>
    </div>
</nav>
<section class="home"></section>
<div class="text">
    <p><h2>Викторины</h2>
    <p>Викторина — это хороший способ борьбы со стрессом, который, к тому же, значительно расширяет кругозор. Это особый вид игры, суть которой заключается в угадывании правильных ответов на вопросы одной или множества тематик и разного уровня сложности.</p>
    <br>В область применения познавательных викторин, кроме прочего, входит расчет оценки уровня интеллекта и эрудиции человека: такие викторины называют "Тест-викторины" или "IQ-викторины". Викторины, в целом, имеют развлекательно-спортивный характер, так как вносят азарт и веселье в серые будни.
    <br><br>Для начала викторины можно поделить на несколько видов по ходу проведения: С ведущим-человеком, с ведущим-программой, и без ведущего (в случае викторин IQ-тестов). В случае с ведущим-человеком или программой всегда есть кто-то, кто определяет какой вопрос или партию вопросов задать игроку в зависимости от ответов, хода игры, уровня сложности и других параметров.
    <br><br>Вторым делением викторин на виды можно выбрать формат проведения - онлайн викторины (в интернете) и оффлайн викторины (без подключения к интернету или в реале). Одним из характерных отличий является соревновательный момент - в онлайн викторинах он, как правило, почти всегда присутствует - отвечая на вопросы, пользователь соревнуется по времени и по точности ответов, количеству верных ответов и т.п. с другими игроками.<p></p>
</div>

<script src="/js/homePage.js"></script>

</body>
</html>