<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new quiz</title>
</head>
<body>
  <form method="post" th:object="${Quiz}" th:action="@{/quiz/new}" action="#">
      <label for="nameQuiz" th:text="'Название викторины:'"/>
      <input type="text" id="nameQuiz" th:field="*{nameQuiz}"/>
      <div class="main_div">
          <div class="question_new" th:each="questions, itemStat : *{questions}">
                <label th:text="${'Вопрос номер ' + itemStat.index + ':'}" th:field="*{questions[__${itemStat.index}__].idQuestion}"/>
                <input type="text" th:field="*{questions[__${itemStat.index}__].description}">
                <input type="file" name="image_questions" th:field="*{questions[__${itemStat.index}__].image_questions}">
                <div class="answer_new" th:each="answer,answerStat :*{questions[__${itemStat.index}__].answers}">
                    <label th:text="${'Ответ номер ' + answerStat.index + ':'}" th:field="*{questions[__${itemStat.index}__].answers[__${answerStat.index}__].answerId}"></label>
                    <input type="text" th:field="*{questions[__${itemStat.index}__].answers[__${answerStat.index}__].description}">
                </div>
                <div class="button_add_answer">
                    <button type="submit" name="addNewAnswer" th:value="${itemStat.index}">Добавить ответ</button>
                </div>
          </div>
          <div class="button_add_questions">
              <button type="submit" name="addNewQuiz">Добавить вопрос</button>
          </div>
      </div>
      <input type="hidden"  th:field="*{idQuiz}">
      <button type="submit" name="saveNewQuiz">Сохранить опросник</button>
  </form>
</body>
</html>