<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/recoveryPasswordStyle/recoveryPassword.css">
  <title>Восстановление пароля</title>
</head>
<body>
<form class="repair_box" th:object="${user}" method="post" th:action="@{/recovery/password}">
  <div class="title_info">
    <label>Восстановление пароля</label>
  </div>
  <div class="password_box">
    <div class="new_password">
      <input name="password" type="password" placeholder="Новый пароль">
    </div>
    <div class="new_password">
      <input name="confirm_password" type="password" placeholder="Повторите пароль">
    </div>
  </div>
  <div class="button_box">
    <input type="submit" class="send_but">Сохранить</input>
  </div>
  <input type="hidden" th:field="*{iduser}">
</form>
</body>
</html>