<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/recoveryPasswordStyle/sendEmailPassword.css">
  <title>Восстановление пароля</title>
</head>
<body>
<form method="post" class="container" id="main_form" onsubmit="return isValid();" th:action="@{/recovery}">
  <div class="message_box">
    <div class="title_text">
      <label>Восстановление пароля</label>
    </div>
    <div class="info_text">
      <label>Введите электронную почту:</label>
      <input name="email_input" id="email_input" placeholder="Введите email" type="text">
    </div>
    <div class="email_text">
      <input type="submit" class="recover_button" value="Восстановить"/>
    </div>
  </div>
</form>
<script src="/js/validation/recoveryPassword.js"></script>
</body>
</html>