*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #007bff;
}

.repair_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease;
}

.repair_box .title_info{
    position: relative;
    height: 60px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}
.password_box{
    padding: 5px;
}

.container div{
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.title_info label{
    font-size: 20px;
    font-weight: 600;
}
.button_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_box .send_but{
    height: 30px;
    margin: 2px;
    font-size: 16px;
    font-weight: 200;
    width: 150px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 1;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.password_box{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.new_password input{
    font-size: 16px;
    margin: 10px 0 10px 0;
    font-weight: 600;
    padding: 5px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: #f0f5ff;
}

.button_box .send_but:hover{
    transform: scale(1.05);
}